<ion-view view-title="Accueil">
    <ion-content>
        <div class="header">
            <img id="miniature" src="img/miniature.png">
            <p class="center">Bonjour <strong>Augustin CHINI</strong></p>
        </div>
        <p class="center">
            <img class="menuIcon" src="img/nbZzCloud.jpg" ui-sref="cloud">
            <img class="menuIcon" src="img/cal.jpg" ui-sref="cal">
            <img class="menuIcon" src="img/notes.jpg" ui-sref="notes">
            <img class="separateur" src="img/separateur.png">
        </p>
        <div id="calendrier" class="padding">
            <h4>Emploie du temps :</h4>
            <img src="img/planning.jpg">
        </div>
        <div id="calendrier" class="padding">
            <h4>Fichiers recents :</h4>
        </div>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-document"></i>presentation.pptx
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-folder"></i>Mes documents
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-document"></i>prog.cpp
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-document"></i>liste.txt
        </a>
    </ion-content>
</ion-view>

