<ion-view view-title="Connexion">
    <ion-content id="loginContent" class="padding">
        <div class="center">
            <img class="menuIconLogin" src="img/zzCloudblanc.png">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Addresse du serveur Owncloud">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Identifiant ISIMA">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Mot de passe">
                </label>
                <button class="button button-block button-positive" ui-sref="side.home">Valider</button>
            </form>
        </div>
    </ion-content>
</ion-view>
