
  <ion-side-menus>

    <!-- contenu du menu de gauche -->
    <ion-side-menu id="sideMenu" side="left">

        <p class="center">

          <img id="menuMiniature" src="img/miniature.png"/>

          <p id="name" class="center">Augustin CHINI</p>

        </p>

      <ion-list>

        <ion-item menu-close ui-sref="side.home">Accueil</ion-item>

        <ion-item menu-close ui-sref="side.cloud">ZZcloud</ion-item>

        <ion-item menu-close ui-sref="side.calendar">Calendrier</ion-item>

        <ion-item menu-close ui-sref="side.notes">Notes</ion-item>

      </ion-list>

      <a id="mentions" menu-close ui-sref="side.cloud">

        Mentions légales

      </a>

    </ion-side-menu>

    <!-- contenu de l'app -->
    <ion-side-menu-content>

     <ion-nav-bar class="bar-positive">

        <ion-nav-back-button></ion-nav-back-button>

        <ion-nav-buttons side="left">

          <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">

          <img id="imgProfil" src="img/profil.png" ui-sref="side.profile"/>

        </ion-nav-buttons>

      </ion-nav-bar>

      <ion-nav-view name="home-side"></ion-nav-view>

    </ion-side-menu-content>

  </ion-side-menus>